language: node_js
node_js:
- stable
notifications:
  email: true
  slack: webhouseteam:82qu1PX5R5wkYNCW5x6fVlhu

addons:
  ssh_known_hosts: kanata.webhouse.net

script:
- yarn
- yarn build
- cp ./build/index.html ./build/200.html

deploy:
  - provider: surge
    project: "./build/"
    domain: senti-dashboard.surge.sh
    skip_cleanup: true
    on:
      all_branches: true

  - provider: script
    skip_cleanup: true
    script: rsync -r --quiet $TRAVIS_BUILD_DIR/build/ ubuntu@kanata.webhouse.net:/srv/www/odeumcode/dashboard.senti.cloud
    on:
      branch: master

before_deploy:
- openssl aes-256-cbc -K $encrypted_2c76d570a277_key -iv $encrypted_2c76d570a277_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

# GitHub -> Travis -> AWS testrun 1