html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, 'Sans Serif', 'Helvetica Neue', Arial, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto';
	font-weight: 300;
	font-size: 15px;
	margin: 0;
}

.dragged {
	background: #37a891;
}